*~
*.bak
*.sw[op]

.env

services/admin/admin
services/properties/properties
services/tasks/tasks

app/schema.json

docs/.obsidian/app.json
docs/.obsidian/appearance.json
docs/.obsidian/core-plugins-migration.json
docs/.obsidian/core-plugins.json
docs/.obsidian/hotkeys.json
docs/diagrams/**/*.svg

node_modules/
tmp/
vendor/
